<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>{{ story[0] }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">
</head>

<body>

    <!-- 左侧导航栏 -->
    <div class="sidebar">

        <h2>StarRead</h2>

        <ul>

            <li>
                <a href="/">
                    🏠 首页
                </a>
            </li>

            <li>
                <a href="/generate_story">
                    📖 故事搜索
                </a>
            </li>

            <li>
                <a href="/story_library">
                    📚 故事书库
                </a>
            </li>

            <li>
                <a href="/favorite_list">
                    ❤️ 我的收藏
                </a>
            </li>

            <li>
                <a href="/reading_record">
                    📝 阅读记录
                </a>
            </li>

            <li>
                <a href="/parent_center">
                    👨‍👩‍👧 家长中心
                </a>
            </li>

        </ul>

    </div>

<div class="page">

    <div class="card">

        <h1>{{ story[0] }}</h1>

        {% if story[2] %}
        <img class="cover-img"
             src="{{ url_for('static',
             filename='images/' + story[2]) }}">
        {% endif %}

        <hr>

        <div class="story-text">

            {{ story[1] }}

        </div>

    </div>

</div>

</body>
</html>