<!DOCTYPE html>
<html>
<head>
    <title>Story List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h1>Story List</h1>

    {% for story in stories %}
        <div>
            <h3>{{ story.title }}</h3>
            <p>Theme: {{ story.theme }}</p>
            <p>Age: {{ story.suitable_age }}</p>

            <a href="{{ url_for('story_detail', story_id=story.id) }}">
                Read Story
            </a>
        </div>
        <hr>
    {% endfor %}

</div>

</body>
</html>